html {margin:0; padding:0;}
body {margin:0; padding:0; background-color:#ffffff;}



/*mapcontrol*/
#map .ol-zoom .ol-zoom-out {
    margin-top: 204px;
    /*right:0.5em;*/
}
#map .ol-zoom {
    background-color: transparent;
    right:0.5em;
    left:auto;
    top: 40%;
    transform: translate(0,-50%);
}
#map .ol-zoomslider {
    top: 40%;
    right:0.5em;
    left:auto;
    transform: translate(0,-50%);
}

#map .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}
#map .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 232px;
}


/*leftmenu*/

nav.mdc-temporary-drawer__drawer{
    background:rgba(0,0,0,0);
    box-shadow: none;

}

.mdc-temporary-drawer__header{
    opacity:0;
}

.mdc-temporary-drawer a.mdc-list-item{
    color:white;
}
i.material-icons.mdc-list-item__start-detail{
    color:white;
}

/*user card*/
.mdc-card.user-card{
    top: 10px;
    left: 60px;
    position: absolute;
    background: rgba(70,70,100,0.75);
    border-radius: 3%;
}

.user-card--with-avatar .mdc-card__title,
.user-card--with-avatar .mdc-card__subtitle {
    color:white;
    margin-left: 56px;
}

h2.mdc-card__subtitle {
    color:white;
}
.user-card .mdc-card__primary{
    padding:8px 16px;
    padding-bottom: 0px;
}
.user-card .mdc-card__actions{
    padding: 8px 16px;
}



.user-card .mdc-fab.mdc-fab--mini.material-icons.vk{
    background: url("/img/vk_icon.png");
    margin-right: 10px;
    background-size: cover;
}
.user-card .mdc-fab.mdc-fab--mini.material-icons.fb{
    background: url("/img/facebook-flat.png");
    margin-right: 10px;
    background-size: cover;
}

.user-card--with-avatar .user-card__avatar img {
    position: absolute; /* 40sp */
    border-radius: 50%;
}

.user-card--with-avatar .mdc-card__primary:last-child{
    padding-bottom: 8px;
}